

<!-- <ion-nav-back-button hide-back-button="true"></ion-nav-back-button> -->
<ion-nav>
<ion-nav-view name="dashboard-main"></ion-nav-view>
<ion-nav-view name="dashboard-create"></ion-nav-view>
</ion-nav>
