


<ion-view  hide-back-button="true" class="bar-light" view-title="Dashboard">
<ion-content scroll="false" class="padding grid-collection has-header">
	<div class="grid-full">
		<div class="grid-child">
			<div class="gid-col">Play Ground</div>
		</div>
	</div>
</ion-content>		

<div class="bar bar-footer">
  	<a class="button button-positive footer-button" ui-sref="create" href="#/create">Left</a>
    <a class="button button-positive footer-button pull-right">Right</a>
</div>
</ion-view>


<!-- <ion-nav-view></ion-nav-view> -->


