

<ion-view hide-previous-title="true" view-title="child">
	
	<ion-content scroll="false" class="padding">
		<div class="grid-full">
			

		   	<div class="grid-child ">
		

				<ion-list>
					
						<ion-item class="item-stable  data-0" ng-click="toggleGroup('data-0')" 
							      ng-class="{'active': active_class=='data-0'}">
						    <i class="fa"  ng-class="{
						    				   'active fa-check-circle-o fa-2': active_class==='data-0',
						                       'active fa-check-circle-o fa-2': active_class!=='data-0' }">
						    </i>
						    &nbsp;
						    Group 1
						        
						</ion-item>
						<ion-item class="item-accordion" ng-show="(active_class==='data-0')">
						   <div class="list">
							  <label class="item item-input">
							    <input type="text" placeholder="First Name">
							  </label>
							  <label class="item item-input">
							    <input type="text" placeholder="Last Name">
							  </label>
							  <label class="item item-input">
							    <textarea placeholder="Comments"></textarea>
							  </label>
							  <button class="button button-balanced button-block">Save</button>
							</div>
						</ion-item>

						<ion-item class="item-stable data-1" 
						            ng-click="toggleGroup('data-1')" 
							        ng-class="{'active': active_class=='data-1'}">
					        <i class="fa"  ng-class="{
						    				   'active fa-check-circle-o fa-2': active_class==='data-1',
						                       'active fa-check-circle-o fa-2': active_class!=='data-1' }">
						    </i>
						      
						    &nbsp;
						    Group 1 
						    
						</ion-item>
						<ion-item class="item-accordion" ng-show="(active_class==='data-1')">
						 	 <div class="list">
								  <label class="item item-input">
								    <input type="text" placeholder="key word">
								  </label>
								
								  <label class="item item-input">
								    <textarea placeholder="keys"></textarea>
								  </label>
							    <button class="button button-balanced button-block">Save</button>
							</div>
						</ion-item>

						<ion-item class="item-stable data-2" ng-click="toggleGroup('data-2')" 
							      ng-class="{'active': active_class=='data-2'}">
						    
						    <i class="fa"  ng-class="{
						    				   'active fa-check-circle-o fa-2': active_class==='data-2',
						                       'active fa-check-circle-o fa-2': active_class!=='data-2' }">
						    </i>
						    
						    &nbsp;
						    Group 1 
						    
						</ion-item>
						<ion-item class="item-accordion" ng-show="(active_class==='data-2')">
						   <div class="list">
								 
								
								  <label class="item item-input">
								    <textarea placeholder="Description"></textarea>
								  </label>
							    <button class="button button-balanced button-block">Save</button>
							</div>
						</ion-item>
				</ion-list>
			</div>

			<div class="grid-child"> 
				<button class="button button-block button-positive disabled">Save</button>
			</div>
			<div class="grid-child"></div>

	   	</div>
	  </ion-content>
</ion-view>