<ion-view hide-nav-bar="true" view-title="Home">
	<ion-content scroll="false" class="padding grid-collection">
		<div class="grid-full">
			<div class="grid-child"></div>
			<div class="grid-child">
				<div class="center">
				    <a ui-sref="home.nativelogin">
				    	<button class="button button-positive button-block" block >Login</button>
					</a>	
				    <button class="button button-positive button-block" ng-click="authenticate('native-signup')" block>Signup With Email
					</button>
					<button class="button button-positive button-block" ng-click="authenticate('facebook-login')" block>Signup With Facebook
					</button>
				</div>
				
				
			</div>
			<div class="grid-child">
				<!-- <ion-tabs class="tabs-positive">
			  <ion-tab icon="ion-checkmark" ui-sref="signup">
			    <ion-nav-view name="signup-email"></ion-nav-view>
			  </ion-tab>
			  <ion-tab icon="ion-help" ui-sref="app.help">
			    <ion-nav-view name="help"></ion-nav-view>
			  </ion-tab>
			</ion-tabs> -->
			</div>
		</div>
	</ion-content>
</ion-view>

<ion-nav-view></ion-nav-view>

