<ion-view hide-nav-bar="true" view-title="Login">
	<ion-content scroll="false" class="padding grid-collection">
		<div class="grid-full">
			<div class="grid-child"></div>
			<div class="grid-child">
				<div class="center">
				   <button class="button button-positive button-block" ng-click="authenticate('facebook-login')" block>Login With Facebook
					</button>
					<div class="seperator">Or</div>
					<div class="list">
					  <form name="native-login" ng-submit="authenticate('do-native-login')">
					  	  <label class="item item-input">
					      <input type="email" placeholder="Email">
						  </label>
						  <label class="item item-input">
						    <input type="password" placeholder="Password">
						  </label>
						  <button type="submit" class="button button-positive button-block">Login</button>
					  </form>
					</div>
				</div>
				
				
			</div>
			<div class="grid-child"></div>
		</div>
	</ion-content>
</ion-view>

<ion-nav-view ></ion-nav-view>