/* Empty. Add your own CSS if you like */

body{
	height: 100%;
	width: 100%;
}

.grid-full{
	
	display: table;
	width: 100%;
	height: 100%;
}
.grid-child{
	display: table-row;
	height: 25%;
}
.grid-collection{
	display: table;
	height: 100%;
	width: 100%;
}
.gid-col{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.center{
	 text-align: center;
}
.seperator{
	padding: 12px; color: rgb(119, 119, 119);
}
.footer-button{
	width: 45%;
}
.seperator-vertical{
	border-right: 1px solid black;
}
.full{
	display: block;
}